<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="salir()" fill="clear" slot="icon-only">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrar Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardarPersona()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="persona.nombre" name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="persona.apellido" name="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input [(ngModel)]="persona.rut" name="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-input [(ngModel)]="persona.fechaNacimiento" name="fechaNacimiento" type="date"></ion-input>
    </ion-item>
    <!-- Agrega más campos según sea necesario -->
    <ion-button expand="block" type="submit">Guardar Persona</ion-button>
  </form>
</ion-content>
