<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Cambiar modo</ion-label>
          <ion-toggle slot="end" [checked]="isDark" (ionChange)="toggleDarkMode($event)"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
