<ion-card *ngIf="medico">
  <ion-card-header>
    <ion-card-title>{{ medico.nombre }} {{ medico.apellido }}</ion-card-title>
    <ion-card-subtitle>{{ medico.rut }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Especialidad:</strong> {{ medico.idEspecialidad }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ medico.fechaNacimiento }}</p>
    <p><strong>Teléfono:</strong> {{ medico.telefono }}</p>
    <p><strong>Email:</strong> {{ medico.email }}</p>
  </ion-card-content>
</ion-card>
