// Colores base inspirados en la imagen

:root {
	--ion-color-primary: #03a9f4;
	--ion-color-primary-rgb: 3,169,244;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #0288d1;
	--ion-color-primary-tint: #29b6f6;

	--ion-color-secondary: #e0f7ff;
	--ion-color-secondary-rgb: 224,247,255;
	--ion-color-secondary-contrast: #0f1f2d;
	--ion-color-secondary-contrast-rgb: 15,31,45;
	--ion-color-secondary-shade: #b4dbea;
	--ion-color-secondary-tint: #e6f9ff;

	--ion-color-tertiary: #006d77;
	--ion-color-tertiary-rgb: 0,109,119;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #00565e;
	--ion-color-tertiary-tint: #1f8690;

	--ion-color-danger: #ba1a1a;
	--ion-color-danger-rgb: 186,26,26;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #930d0d;
	--ion-color-danger-tint: #c53b35;

	--ion-background-color: #f2f9ff;
	--ion-background-color-rgb: 242,249,255;
	--ion-text-color: #0f172a;
	--ion-text-color-rgb: 15,23,42;
	--ion-border-radius: 16px;

	--ion-card-background: #ffffff;
	--ion-card-text: #0f172a;
	--ion-item-background: #e0f7ff;
	--ion-item-text: #0f172a;
}

body.dark, .dark {
	--ion-color-primary: #5dd0ff;
	--ion-color-primary-rgb: 93,208,255;
	--ion-color-primary-contrast: #002d40;
	--ion-color-primary-contrast-rgb: 0,45,64;
	--ion-color-primary-shade: #29a7d8;
	--ion-color-primary-tint: #73d7ff;

	--ion-color-secondary: #0c3a4b;
	--ion-color-secondary-rgb: 12,58,75;
	--ion-color-secondary-contrast: #d5efff;
	--ion-color-secondary-contrast-rgb: 213,239,255;
	--ion-color-secondary-shade: #082a36;
	--ion-color-secondary-tint: #255160;

	--ion-background-color: #001f2a;
	--ion-background-color-rgb: 0,31,42;
	--ion-text-color: #e2f1ff;
	--ion-text-color-rgb: 226,241,255;

	--ion-card-background: #052c3a;
	--ion-card-text: #e2f1ff;
	--ion-item-background: #052c3a;
	--ion-item-text: #e2f1ff;
}
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
